<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
     
      <a class="navbar-brand" [routerLink]="['/todos/',userId ]" >
        <img class="rounded-circle" src="assets/800w-r0bPCSjUqg0.webp" width="100" height="100" alt="">
      </a>
    
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item me-3">
                {{user.username}}
              </li>
              <li (click)="getfav()" class="cursor nav-item me-3">
                <i class="bi bi-star-fill"></i>
                <span>{{favNum()}}</span>
              </li>
              
              <li (click)="getDeleted()" class="cursor nav-item me-3">
                <i class="bi bi-trash"></i>
                <span>{{deletedNum()}}</span>
              </li>


              <li class="nav-item me-3">
                <i class="bi bi-calendar-check-fill"></i>
                <span> {{doneNum()}}%</span>
              </li>
              <li class="nav-item me-3">
                <i class="bi bi-battery-half" ></i>
                <span>{{batteryLevel}}%</span>
              </li>
              <li class="nav-item me-3">
                <i *ngIf="os === 'Linux'"  class="bi bi-ubuntu"></i>
                <i *ngIf="os === 'Windows'" class="bi bi-windows"></i>
                <i *ngIf="os === 'Mac OS' || os === 'iOS' " class="bi bi-apple"></i>
                <i *ngIf="os === 'Android'" class="bi bi-android2"></i>
                <i *ngIf="os === 'Unknown'" class="bi bi-app"></i>
                <span>{{os}}</span>
              </li>
              <li class="nav-item me-3">
                <i *ngIf="browser === 'Chrome'" class="bi bi-browser-chrome"></i>
                <i *ngIf="browser === 'Edge'" class="bi bi-browser-edge"></i>
                <i *ngIf="browser === 'Firefox'" class="bi bi-browser-firefox"></i>
                <i *ngIf="browser === 'Safari'" class="bi bi-browser-safari"></i>
                <i *ngIf="browser === 'Unknown'" class="bi bi-window-fullscreen"></i>
                <span>{{browser}}</span>
              </li>
              <li class="nav-item me-3">
                <i *ngIf="online" class="bi bi-wifi text-success"></i>
                <i *ngIf="!online" class="bi bi-wifi-off text-danger"></i>
                <span *ngIf="online" class="text-success">Connected to internet</span>
                <span *ngIf="!online" class="text-danger">Not Connected to internet</span>
              </li>

        </ul>
        
        <li class="nav-item me-4 w-auto d-flex">
            <button type="button" (click)="logOut()" class="btn btn-primary">Logout</button>
        </li>
      </div>
    </div>
  </nav>
