<div class="d-flex justify-content-center align-items-center mt-5">
  <form class="container w-50 p-5 text-center" #form="ngForm"  (ngSubmit)="loginUser(form)">
    <!-- Username input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="username">Username</label>
      <input name="username"  type="text" #username="ngModel" ngModel id="username" class="form-control"
        placeholder="Enter your username" required/>
        <p *ngIf="username.touched && username.errors?.['required']" class="text-danger text-uppercase">username is
          required</p>
    </div>

    <!-- password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="password">Password</label>
      <input name="password"  type="password" #password="ngModel" ngModel  id="password" class="form-control"
        placeholder="Enter your favoute quote" required>
        <p *ngIf="password.touched && password.errors?.['required']" class="text-danger text-uppercase">password is
          required</p>
    </div>
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center"></div>

      <div class="col"></div>
    </div>

    <!-- Submit button -->
    <button class="btn btn-primary btn-block mb-4 m-auto">
      Sign in
    </button>
    <br>
    <button [routerLink]="['/signUp']" class="btn btn-primary btn-block mb-4 m-auto">
      Sign Up
    </button>
  </form>
</div>